In [1]:
import numpy as np
import pandas as pd

In [2]:
#Units of the table
#wind_speed = m/s
#air_temp = degree C
#rel_hum = unitless
#net_rad = W/m2
#Rainfall = mm
#Runoff = mm
dh_dl = 1 #hydraulic gradient unitless
ks = 10 #mm/day sat hydraulic conductivity
gamma = 0.063875 #kPa/C
ke = 0.0013 #(s/d)(1/kPa)
#ke = 1.26/1000 #1/kPa
df = pd.read_csv('Evapotranspiration.csv')

In [3]:
df

    Month  wind_speed  air_temp  rel_hum  net_rad  rainfall  runoff
0     Jan        2.00         4     0.33       88      10.9     1.0
1     Feb        1.10         6     0.43       95      15.5     2.0
2   March        2.20         8     0.50      110      31.8     4.4
3     Apr        3.00        12     0.55      135      53.8     5.0
4     May        1.80        14     0.63      155      88.1     7.0
5     Jun        1.50        20     0.65      180      91.4    11.0
6     Jul        1.00        23     0.70      210      77.5     6.0
7     Aug        0.80        25     0.75      205      66.3     6.7
8     Sep        0.75        23     0.73      175      45.2     5.1
9     Oct        1.10        18     0.68      100      33.3     5.0
10    Nov        1.30        15     0.63       90      20.1     3.0
11    Dec        2.00         5     0.60       85      13.7     1.0

In [4]:
df['es'] = 0.611*np.exp((17.27*df['air_temp'])/(237.3+df['air_temp'])) #calculating saturated Vapor pressure #kPa
df['ea'] = df['es']*df['rel_hum'] #converting relative humidity to percent #kPa

In [5]:
#Assuming surface temperature smae as sair tempereature
df['delta'] = (4098*df['es'])/np.power((237.3+df['air_temp']),2)

In [6]:
#Need to convert wind speed to mm/month
#I assume 30 days in each month, to make calculation simpler
#df['wind_speed'] = df['wind_speed']*60*60*24*1000 #mm/month
#Now Use Penman to calculate evaporation from lake surface
#Assume Ground Heat Flux to be zero
df['evap'] = (df['delta']*df['net_rad'] + ke*gamma*28.34*df['wind_speed']*(df['es']-df['ea']))/(28.34*(df['delta']+gamma))

In [7]:
days_in_month = np.array([31,28,31,30,31,30,31,31,30,31,30,31])

In [8]:
df['evap_month'] = df['evap'] * days_in_month

In [9]:
df

,Month,wind_speed,air_temp,rel_hum,net_rad,rainfall,runoff,es,ea,delta,evap,evap_month
0,Jan,2.00,4,0.33,88,10.9,1.0,0.813527,0.268464,0.057257,1.468500,45.523512
1,Feb,1.10,6,0.43,95,15.5,2.0,0.935416,0.402229,0.064758,1.687958,47.262828
2,March,2.20,8,0.50,110,31.8,4.4,1.073120,0.536560,0.073084,2.071934,64.229959
3,Apr,3.00,12,0.55,135,53.8,5.0,1.403023,0.771663,0.092511,2.818928,84.567830
4,May,1.80,14,0.63,155,88.1,7.0,1.599128,1.007451,0.103770,3.385947,104.964355
5,Jun,1.50,20,0.65,180,91.4,11.0,2.339047,1.520380,0.144788,4.407655,132.229637
6,Jul,1.00,23,0.70,210,77.5,6.0,2.810358,1.967250,0.169975,5.386309,166.975594
7,Aug,0.80,25,0.75,205,66.3,6.7,3.168815,2.376611,0.188744,5.404776,167.548045
8,Sep,0.75,23,0.73,175,45.2,5.1,2.810358,2.051561,0.169975,4.488544,134.656315
9,Oct,1.10,18,0.68,100,33.3,5.0,2.064665,1.403972,0.129814,2.365230,73.322136
10,Nov,1.30,15,0.63,90,20.1,3.0,1.705905,1.074720,0.109823,2.008286,60.248583
11,Dec,2.00,5,0.60,85,13.7,1.0,0.872597,0.523558,0.060909,1.464462,45.398309

In [10]:
df.evap_month.sum()

1126.9271017242017

In [11]:
annual_runoff = df.runoff.sum()/1000000.0 #km/yr
annual_rainfall = df.rainfall.sum()/1000000.0 #km/yr
percoloation = (ks*dh_dl/1000000.0) * 365.0 #Assuming non leap year #km/yr
annual_evaporation = df.evap_month.sum()/1000000.0
irrigation = (10.0e6)*(1.0e-9) #km3
lake_area = (irrigation- 0.5*annual_runoff*750)/(annual_rainfall-annual_evaporation-percoloation)
print('lake_area = '+str(lake_area))

lake_area = 2.707286460612633

In [21]:
percoloation

0.0036500000000000005

In [12]:
annual_runoff*750

0.0429

In [13]:
irrigation

0.01

In [14]:
annual_evaporation

0.0011269271017242018

In [15]:
annual_runoff

5.72e-05

In [16]:
annual_rainfall

0.0005476

In [17]:
lake_area

2.707286460612633

In [18]:
lake_volume = np.power((lake_area/0.67),(1/0.87))
print (lake_volume)

4.978285278285682

In [19]:
mean_monthly_evap = df.evap_month.mean()
mean_monthly_evap

93.91059181035014

In [20]:
mean_annual_evap = mean_monthly_evap*12
mean_annual_evap

1126.9271017242017