In [13]:
import numpy as np
import pandas as pd
from scipy import stats

In [5]:
df = pd.read_excel('Puyallup_Electron.xlsx')

In [6]:
df.head()

   Year  Discharge
0  1912       4300
1  1913       2390
2  1914       2610
3  1915       2070
4  1916       3440

In [8]:
mean_X = df.Discharge.mean()
stdev_X = df.Discharge.std()
cv_X = stdev_X/mean_X
skew_X = df.Discharge.skew()

In [10]:
print ('mean of distribution = '+str(mean_X))
print ('standard deviation of distribution = '+str(stdev_X))
print ('Cofficient of variation of distribution = '+str(cv_X))
print ('skewness of distribution = '+str(skew_X))

mean of distribution = 5149.0
standard deviation of distribution = 2901.2836966776613
Cofficient of variation of distribution = 0.5634654683778717
skewness of distribution = 1.5031391255641797

In [15]:
return_period = np.array([5,10,25,50,100])
fr = 1-(1/return_period) #this is essentially the cummulative fraction/probablity

In [16]:
#Lognormal Distribution
sd_ln = np.sqrt(np.log(np.power(cv_X,2)+1))
mean_ln = 0.5*np.log(np.power(mean_X,2)/(np.power(cv_X,2)+1))
stats.lognorm(sd_ln,scale=np.exp(mean_ln)).ppf(fr)

array([ 6978.77295336,  8792.34023285, 11248.37709006, 13188.72668211,
       15218.38723115])

In [17]:
#Gumbel Disrtribution
alpha = 0.78*stdev_X #Class Slides
pshi = mean_X-0.5772*alpha
Q_Gumbel = pshi-alpha*np.log(-np.log(fr))
print (Q_Gumbel)

[ 7237.16177429  8935.37980907 11081.08279789 12672.88784991
 14252.93926328]

In [33]:
#Log_Pearson III
df['log'] = np.log10(df['Discharge'])
#y = np.log10(df.Discharge.values)
mean_y = df.log.mean()
std_y = df.log.std()
skew_y = df.log.skew()
zp = stats.norm(0,1).ppf(fr)
kp = (2/skew_y)*(np.power(((zp-skew_y/6)*skew_y/6+1),3)-1)
Q_log_pearson_3 = np.power(10,(mean_y+std_y*kp))
print (Q_log_pearson_3)

[ 6972.63539392  8855.18093445 11462.58775548 13566.23877333
 15805.15623173]

In [36]:
#For Emperical Probablity, I use Weibull Distribution
df = df.sort_values(by=['Discharge'])
df['n'] = np.arange(1,len(df)+1,1.0)
df['ep'] = 1-(df['n']/(len(df)+1))
df['rp'] = 1/df['ep']
df.to_csv('Flood_Statistics.csv')

In [37]:
df.tail(20)

    Year  Discharge       log     n        ep         rp
7   1919       6540  3.815578  61.0  0.246914   4.050000
18  1948       6580  3.818226  62.0  0.234568   4.263158
67  2005       6810  3.833147  63.0  0.222222   4.500000
30  1968       6900  3.838849  64.0  0.209877   4.764706
46  1984       6930  3.840733  65.0  0.197531   5.062500
27  1965       6970  3.843233  66.0  0.185185   5.400000
10  1922       6980  3.843855  67.0  0.172840   5.785714
53  1991       7640  3.883093  68.0  0.160494   6.230769
6   1918       7700  3.886491  69.0  0.148148   6.750000
49  1987       9010  3.954725  70.0  0.135802   7.363636
17  1947       9160  3.961895  71.0  0.123457   8.100000
71  2009       9350  3.970812  72.0  0.111111   9.000000
40  1978       9460  3.975891  73.0  0.098765  10.125000
52  1990       9900  3.995635  74.0  0.086420  11.571429
77  2015      10500  4.021189  75.0  0.074074  13.500000
25  1963      10600  4.025306  76.0  0.061728  16.200000
78  2016      10700  4.029384  77.0  0.049383  20.250000
22  1960      10800  4.033424  78.0  0.037037  27.000000
69  2007      15000  4.176091  79.0  0.024691  40.500000
58  1996      16000  4.204120  80.0  0.012346  81.000000